@charset "UTF-8";
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url('./assets/pexels-洋榤-郭-2399840.jpg') ;
    background-size: cover;
    background-position: center;
    
}
header{
    background-color: rgba(0, 0, 0, 0.863);
    padding: 20px;
}
div{
    text-align: center;
    
}
    
    
    

iframe{width:480px; 
      height:300px; 
}

.container{
    border-radius: 20px;
    background: aliceblue;
    width: 300px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    



h1{
    color: white;
    text-align: center;
}
a{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    font-size: 2em;
    background: green;
    width: 450px;
    margin: auto;
    color:white;
    text-decoration: none;
    border:2px solid white;
    border-radius: 20px;
}

a:hover {
    background-color: chartreuse;
    color: green;
}

.depoimento{
    background: aliceblue;
    width: 300px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;

}
.dpmt{
    margin-bottom: 20px ;
    margin-top: 20px;
}

li{
    padding: 20px;
}
img{
    border-radius: 20%;
}

.rodapé {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 5px;
}